@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

@font-face {
  font-family: "SentientCustom";
  src: url("/fonts/Sentient-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: white;
  color: #1F2630;
}